*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.container{
  background-color: rgb(80, 62, 62);
  width: 100vw;
  height: 100vh;
}

.card{
  width: 70vw;
  height: 80vh;
background-color: rgb(179, 155, 155);
}

.hover:hover {
  font-size: 105%;
  cursor: pointer;
}